---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/NoBetterThan97/Worldca-api/stats/commit_activity?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1490729304'
      Etag:
      - '"cf7c04084d46b5efe8f77664905589a1"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"days":[0,0,0,0,0,0,0],"total":0,"week":1459638000},{"days":[0,0,0,0,0,0,0],"total":0,"week":1460242800},{"days":[0,0,0,0,0,0,0],"total":0,"week":1460847600},{"days":[0,0,0,0,0,0,0],"total":0,"week":1461452400},{"days":[0,0,0,0,0,0,0],"total":0,"week":1462057200},{"days":[0,0,0,0,0,0,0],"total":0,"week":1462662000},{"days":[0,0,0,0,0,0,0],"total":0,"week":1463266800},{"days":[0,0,0,0,0,0,0],"total":0,"week":1463871600},{"days":[0,0,0,0,0,0,0],"total":0,"week":1464476400},{"days":[0,0,0,0,0,0,0],"total":0,"week":1465081200},{"days":[0,[...]
- request:
    method: get
    uri: https://api.github.com/repos/NoBetterThan97/Worldca-api/commits?access_token=<ACCESS_TOKEN>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1490729304'
      Etag:
      - '"b683cf03b1f06777f8b6fc08eec4475c"'
      Last-Modified:
      - Sun, 08 Jan 2017 22:12:36 GMT
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/76016382/commits?access_token=<ACCESS_TOKEN>&page=2>;
        rel="next", <https://api.github.com/repositories/76016382/commits?access_token=<ACCESS_TOKEN>&page=2>;
        rel="last"
    body:
      encoding: UTF-8
      string: "[{\"sha\":\"52252afd9598012af1159c49d688a8da047970af\",\"commit\":{\"author\":{\"name\":\"Cheng-Yu
        Hsu\",\"email\":\"m@cyhsu.me\",\"date\":\"2017-01-08T22:12:36Z\"},\"committer\":{\"name\":\"GitHub\",\"email\":\"noreply@github.com\",\"date\":\"2017-01-08T22:12:36Z\"},\"message\":\"Merge
        pull request #18 from NoBetterThan97/cyhsutw/fix-sorting-algorithm\\n\\nSorted
        by total consumptions\",\"tree\":{\"sha\":\"f0f2057e640ac79db87b305e428cde2b56292f3c\",\"url\":\"https://api.github.com/repos/NoBetterThan97/Worldca-api/git/trees/f0f2057e640ac79db87b305e428cde2b56292f3c\"},\"url\":\"https://api.github.com/repos/NoBetterThan97/Worldca-api/git/commits/52252afd9598012af1159c49d688a8da047970af\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/NoBetterThan97/Worldca-api/commits/52252afd9598012af1159c49d688a8da047970af\",\"html_url\":\"https://github.com/NoBetterThan97/Worldca-api/commit/52252afd9598012af1159c49d688a8da047970af\",\"comments_url\":\"https://api.github.com/repos/NoBetterThan97/Worldca-api/commits/52252afd9598012af1159c49d688a8da047970af/comments\",\"author\":{\"login\":\"cyhsutw\",\"id\":1046917,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/1046917?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/cyhsutw\",\"html_url\":\"https://github.com/cyhsutw\",\"followers_url\":\"https://api.github.com/users/cyhsutw/followers\",\"following_url\":\"https://api.github.com/users/cyhsutw/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/cyhsutw/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/cyhsutw/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/cyhsutw/subscriptions\",\"organizations_url\":\"https://api.github.com/users/cyhsutw/orgs\",\"repos_url\":\"https://api.github.com/users/cyhsutw/repos\",\"events_url\":\"https://api.github.com/users/cyhsutw/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/cyhsutw/received_events\",\"type\":\"User\",\"site_admin\":false},\"committer\":{\"login\":\"web-flow\",\"id\":19864447,\"avatar_url\":\"https://avatars0.githubusercontent.com/u/19864447?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/web-flow\",\"html_url\":\"https://github.com/web-flow\",\"followers_url\":\"https://api.github.com/users/web-flow/followers\",\"following_url\":\"https://api.github.com/users/web-flow/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/web-flow/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/web-flow/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/web-flow/subscriptions\",\"organizations_url\":\"https://api.github.com/users/web-flow/orgs\",\"repos_url\":\"https://api.github.com/users/web-flow/repos\",\"events_url\":\"https://api.github.com/users/web-flow/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/web-flow/received_events\",\"type\":\"User\",\"site_admin\":false},\"parents\":[{\"sha\":\"637289cceeb8ea4a7dc738885122c24591fe2726\",\"url\":\"https://api.github.com/repos/NoBetterThan97/Worldca-api/commits/637289cceeb8ea4a7dc738885122c24591fe2726\",\"html_url\":\"https://github.com/NoBetterThan97/Worldca-api/commit/637289cceeb8ea4a7dc738885122c24591fe2726\"},{\"sha\":\"d80a9f88dbfc8e007f80b5877f69931cdc2c3a9d\",\"url\":\"https://api.github.com/repos/NoBetterThan97/Worldca-api/commits/d80a9f88dbfc8e007f80b5877f69931cdc2c3a9d\",\"html_url\":\"https://github.com/NoBetterTha[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/NoBetterThan97/Worldca-api/commits?access_token=<ACCESS_TOKEN>&page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1490729304'
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/76016382/commits?access_token=<ACCESS_TOKEN>&page=1>;
        rel="first", <https://api.github.com/repositories/76016382/commits?access_token=<ACCESS_TOKEN>&page=2>;
        rel="prev"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 28 Mar 2017 18:59:30 GMT
- request:
    method: get
    uri: https://api.github.com/repos/NoBetterThan97/Worldca-api/commits?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1490729304'
      Etag:
     [...]
- request:
    method: get
    uri: https://api.github.com/repos/NoBetterThan97/Worldca-api/contributors?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1490729304'
      Etag:
[...]
- request:
    method: get
    uri: https://api.github.com/repos/NoBetterThan97/Worldca-api/??access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1490729306'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Tue, 28 Mar 2017 18:59:35 GMT
- request:
    method: get
    uri: https://api.github.com/repos/NoBetterThan97/Worldca-api/issues?access_token=<ACCESS_TOKEN>&page=1&state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1490729304'
      Etag:
      - '"d2a7ffe0459c3ca7fdef01b5524e8f74"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[{\"url\":\"https://api.github.com/repos/NoBetterThan97/Worldca-api/issues/18\",\"repository_url\":\"https://api.github.com/repos/NoBetterThan97/Worldca-api\",\"labels_url\":\"https://api.github.com/repos/NoBetterThan97/Worldca-api/issues/18/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/NoBetterThan97/Worldca-api/issues/18/comments\",\"events_url\":\"https://api.github.com/repos/NoBetterThan97/Worldca-api/issues/18/events\",\"html_url\":\"https://github.com/NoBetterThan97/Worldca-api/pull/18\",\"id\":199451298,\"number\":18,\"title\":\"Sorted
        by total consumptions\",\"user\":{\"login\":\"cyhsutw\",\"id\":1046917,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/1046917?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/cyhsutw\",\"html_url\":\"https://github.com/cyhsutw\",\"followers_url\":\"https://api.github.com/users/cyhsutw/followers\",\"following_url\":\"https://api.github.com/users/cyhsutw/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/cyhsutw/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/cyhsutw/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/cyhsutw/subscriptions\",\"organizations_url\":\"https://api.github.com/users/cyhsutw/orgs\",\"repos_url\":\"https://api.github.com/users/cyhsutw/repos\",\"events_url\":\"https://api.github.com/users/cyhsutw/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/cyhsutw/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[],\"state\":\"closed\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2017-01-08T22:12:00Z\",\"updated_at\":\"2017-01-08T22:12:36Z\",\"closed_at\":\"2017-01-08T22:12:36Z\",\"pull_request\":{\"url\":\"https://api.github.com/repos/NoBetterThan97/Worldca-api/pulls/18\",\"html_url\":\"https://github.com/NoBetterThan97/Worldca-api/pull/18\",\"diff_url\":\"https://github.com/NoBetterThan97/Worldca-api/pull/18.diff\",\"patch_url\":\"https://github.com/NoBetterThan97/Worldca-api/pull/18.patch\"},\"body\":\"\"},{\"url\":\"https://api.github.com/repos/NoBetterThan97/Worldca-api/issues/17\",\"repository_url\":\"https://api.github.com/repos/NoBetterThan97/Worldca-api\",\"labels_url\":\"https://api.github.com/repos/NoBetterThan97/Worldca-api/issues/17/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/NoBetterThan97/Worldca-api/issues/17/comments\",\"events_url\":\"https://api.github.com/repos/NoBetterThan97/Worldc[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/NoBetterThan97/Worldca-api/issues?access_token=<ACCESS_TOKEN>&page=1&since=2016-11-29T03:01:30%2008:00&state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratel[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/NoBetterThan97/Worldca-api/commits?access_token=<ACCESS_TOKEN>&page=1&since=2016-11-29T03:01:30%2008:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Rese[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/NoBetterThan97/Worldca-api?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1490729304'
      Etag:
      - '"9c0fe83946ec548504c31fd8775cf839"'
      Last-Modified:
      - Fri, 09 Dec 2016 08:38:47 GMT
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":76016382,"name":"Worldca-api","full_name":"NoBetterThan97/Worldca-api","owner":{"login":"NoBetterThan97","id":22575996,"avatar_url":"https://avatars3.githubusercontent.com/u/22575996?v=3","gravatar_id":"","url":"https://api.github.com/users/NoBetterThan97","html_url":"https://github.com/NoBetterThan97","followers_url":"https://api.github.com/users/NoBetterThan97/followers","following_url":"https://api.github.com/users/NoBetterThan97/following{/other_user}","gists_url":"https://api.github.com/users/NoBetterThan97/gists{/gist_id}","starred_url":"https://api.github.com/users/NoBetterThan97/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NoBetterThan97/subscriptions","organizations_url":"https://api.github.com/users/NoBetterThan97/orgs","repos_url":"https://api.github.com/users/NoBetterThan97/repos","events_url":"https://api.github.com/users/NoBetterThan97/events{/privacy}","received_events_url":"https://api.github.com/users/NoBetterThan97/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/NoBetterThan97/Worldca-api","description":"This
        is the api of WorldCa Application ","fork":false,"url":"https://api.github.com/repos/NoBetterThan97/Worldca-api","forks_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/forks","keys_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/teams","hooks_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/hooks","issue_events_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/issues/events{/number}","events_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/events","assignees_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/assignees{/user}","branches_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/branches{/branch}","tags_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/tags","blobs_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/git/refs{/sha}","trees_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/statuses/{sha}","languages_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/languages","stargazers_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/stargazers","contributors_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/contributors","subscribers_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/subscribers","subscription_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/subscription","commits_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/commits{/sha}","git_commits_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/git/commits{/sha}","comments_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/comments{/number}","issue_comment_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/issues/comments{/number}","contents_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/contents/{+path}","compare_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/merges","archive_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/downloads","issues_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/issues{/number}","pulls_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/pulls{/number}","milestones_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/milestones{/number}","notifications_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/labels{/name}","releases_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/releases{/id}","deployments_url":"https://api.github.com/repos/NoBetterThan97/Worldca-api/deployments","created_at":"2016-12-09T08:24:38Z","updated_at":"2016-12-09T08:38:47Z","pushed_at":"2017-01-08T22:12:39Z","git_url":"git://github.com/NoBetterThan97/Worldca-api.git","ssh_url":"git@github.com:NoBetterThan97/Worldca-api.git","clone_url":"https://github.com/NoBetterThan97/Worldca-api.git","svn_url":"https://github.com/NoBetterThan97/Worldca-api","homepage":null,"size":69,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"organization":{"login":"NoBetterThan97","id":22575996,"avatar_url":"https://avatars3.githubusercontent.com/u/22575996?v=3","gravatar_id":"","url":"https://api.github.com/users/NoBetterThan97","html_url":"https://github.com/NoBetterThan97","followers_url":"https://api.github.com/users/NoBetterThan97/followers","following_url":"https://api.github.com/users/NoBetterThan97/following{/other_user}","gists_url":"https://api.github.com/users/NoBetterThan97/gists{/gist_id}","starred_url":"https://api.github.com/users/NoBetterThan97/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NoBetterThan97/subscriptions","organizations_url":"https://api.github.com/users/NoBetterThan97/orgs","repos_url":"https://api.github.com/users/NoBetterThan97/repos","events_url":"https://api.github.com/users/NoBetterThan97/events{/privacy}","received_events_url":"https://api.github.com/users/NoBetterThan97/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":2}'
  recorded_at: Tue, 28 Mar 2017 19:04:34 GMT
- request:
    method: get
    uri: http://bestgems.org/api/v1/gems/foodnutritionix/daily_downloads.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2017-03-28","daily_downloads":0},{"date":"2017-03-27","daily_downloads":9},{"date":"2017-03-26","daily_downloads":4},{"date":"2017-03-25","daily_downloads":0},{"date":"2017-03-24","daily_downloads":0},{"date":"2017-03-23","daily_downloads":5},{"date":"2017-03-22","daily_downloads":5},{"date":"2017-03-21","daily_downloads":10},{"date":"2017-03-20","daily_downloads":6},{"date":"2017-03-19","daily_downloads":0},{"date":"2017-03-18","daily_downloads":0},{"date":"2017-03-17","daily_downloads":0},{"date":"2017-03-16","daily_downlo[...]
- request:
    method: get
    uri: http://bestgems.org/api/v1/gems/foodnutritionix/total_downloads.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2017-03-28","total_downloads":939},{"date":"2017-03-27","total_downloads":939},{"date":"2017-03-26","total_downloads":930},{"date":"2017-03-25","total_downloads":926},{"date":"2017-03-24","total_downloads":926},{"date":"2017-03-23","total_downloads":926},{"date":"2017-03-22","total_downloads":921},{"date":"2017-03-21","total_downloads":916},{"date":"2017-03-20","total_downloads":906},{"date":"2017-03-19","total_downloads":900},{"date":"2017-03-18","total_downloads":900},{"date":"2017-03-17","total_downloads":900},{"date":"20[...]
