---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/foodnutritionix.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 5ca6d7132acf6fb111a86ab1344f310c
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7f89285f8aa2a951c2a53f73d1589b71"'
      Last-Modified:
      - Sat, 07 Jan 2017 14:00:31 GMT
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Leo Lee","built_at":"2017-01-07T00:00:00.000Z","created_at":"2017-01-07T14:00:30.682Z","description":"Get
        name, search time, unit, qty, weight, nutrients, calories, photo","downloads_count":261,"metadata":{},"number":"0.1.4","summary":"Get
        foods nutrients by search it name","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 0","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"029a53fa1fe879da4a523792f73729a93b34d33cd3a942aed6d2f691c87d69c5"},{"authors":"Leo
        Lee","built_at":"2017-01-06T00:00:00.000Z","created_at":"2017-01-06T05:42:58.810Z","description":"Get
        name, search time, unit, qty, weight, nutrients, calories, photo","downloads_count":205,"metadata":{},"number":"0.1.3","summary":"Get
        foods nutrients by search it name","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 0","prerelease":false,"licenses":["MIT"][...]
